html {
    box-sizing: border-box;
  }

  *, *::before, *::after {
    box-sizing: inherit;
    max-width: 100%;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }


.navbar {
  float: left;
  padding-top: 3em;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-weight: bold;
  list-style-type: none;
}

#logo {
  float: left;
  padding: 10px;
  height: 6em;
}

.navbar a:hover {
  color: rgb(90, 245, 0);
}

section {
  display: flex;
  flex-wrap: wrap;
}

header {
  background-image: url(images/landscape1.png);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 35em;
  max-width: 100%;
}

header > button:hover {
  color: green;
  background-color: yellow;;
}

.featured {
  display: flex;
  flex-direction: column;
  flex: 250px;
  padding: 10px;
  margin: 10px;
}

.featured:nth-child(1) {
  background: linear-gradient(125deg, rgba(55, 0, 255, 0.8), rgba(255,0,0,0) 100%),
  linear-gradient(275deg, rgba(154, 154, 156, 0.8), rgba(0,255,0,0) 100%);
}

.featured:nth-child(2) {
  background: linear-gradient(125deg, rgba(253, 1, 1, 0.8), rgba(255,0,0,0) 100%),
  linear-gradient(275deg, rgba(255, 127, 127, 0.8), rgba(0,255,0,0) 100%);
}

.featured:nth-child(3) {
  background: linear-gradient(275deg, rgba(0, 255, 13, 0.8), rgba(0,255,0,0) 100%),
  linear-gradient(125deg, rgba(90, 192, 98, 0.8), rgba(255,0,0,0) 100%);
}

.featured:nth-child(4) {
  background: linear-gradient(125deg, rgba(151, 115, 14, 0.8), rgba(255,0,0,0) 100%),
  linear-gradient(275deg, rgba(190, 233, 0, 0.8), rgba(0,255,0,0) 100%);
}

.featured > h2 {
  text-align: center;
  position: block;

}

.featured > img {
  align-items: center;
  justify-content: center;
  height: 6em;
}

.call-to-action {
  display: flex;
  flex-flow: row wrap;
  flex: 250px;
  justify-content: space-around;
  overflow:hidden;
  padding: 10px;
  margin: 10px;
  height: 15em;
  background: linear-gradient(125deg, rgba(55, 0, 255, 0.8), rgba(255,0,0,0) 35%),
              linear-gradient(125deg, rgba(253, 1, 1, 0.8), rgba(255,0,0,0) 100%),
              linear-gradient(275deg, rgba(0, 255, 13, 0.8), rgba(0,255,0,0) 100%),
              linear-gradient(125deg, rgba(151, 115, 14, 0.8), rgba(255,0,0,0) 45%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.call-to-action > h2 {
  margin: 0px;
  text-align: center;
  color: black;
}

.call-to-action > p {
  color: black;;
}

.call-to-action > button {
  padding: 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(75, 43, 151, 0.596);
  border: none;
}

.call-to-action > button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: row;
  
  background: linear-gradient(125deg, rgba(110, 0, 0, 0.979), rgba(255,0,0,0) 100%),
              linear-gradient(275deg, rgba(212, 0, 0, 0.8), rgba(0,255,0,0) 100%);
  justify-content: space-between;
}

footer > h5 {
    color: white;
    padding-left: 20px;
    font-size: 15px;
}

.fa {
  padding: 20px 10px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: white;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.32;
}
