* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
.header {
  background-image: url(/images/keanu.png);
  background-position: 50% 40%;
  background-repeat: no-repeat;
  background-size:auto;
  padding: 100px;
}

.header h1 {
  color: white ;
  text-align: center;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  background-color: rgba(17, 12, 12, 1);
  justify-content: center;
}

.navbar a {
  text-decoration: none;
  padding: 14px 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  list-style-type: none;
  text-align: center;
}

.navbar a:hover {
  background-color: rgb(99, 99, 99);
}

.row {
  display: flex;
  flex-direction: row;
}

.fakeimg {
  background-color: #aaa;
  max-width: 100%;
  width: 300px;
  height: 200px;
}

.side {
  flex: 20%;
  background-color:gray;
  padding: 10px;
}

.main {
  flex: 80%;
  padding: 10px;
}

.footer {
  padding: 20px;
  background-color: rgb(158, 157, 157);
  text-align: center;
  width: 100%;
}

@media screen and (max-width:900px) {
  .row, .navbar {
    flex-direction: column;
  }
  .fakeimg {
    max-width: 100%;
  }
}