* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
.header {
   display: flex;
   padding: 60px;
   text-align: center;
   flex-direction: column;
   background-color: gray;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(17, 12, 12);
}

.navbar a {
  text-decoration: none;
  padding: 14px 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  list-style-type: none;
  text-align: center;
}

.navbar a:hover {
  background-color: rgb(99, 99, 99);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.side {
  flex: 20%;
  background-color:gray;
  padding: 20px;
}

.main {
  flex: 80%;
  padding: 20px;
}

.footer {
  padding: 20px;
  background-color: rgb(158, 157, 157);
  text-align: center;
  width: 100%;
}

@media screen and (max-width:700px) {
  .row, .navbar {
    flex-direction: column;
  }
}